body{
margin:0;
font-family:Poppins;
background:#0b0b0b;
color:white;
}

/* LOGIN BG */
.auth-bg{
background:url('/images/bg.jpg') center/cover no-repeat;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.auth-box{
background:rgba(0,0,0,0.8);
padding:40px;
border-radius:10px;
width:320px;
text-align:center;
box-shadow:0 0 15px gold;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:none;
border-radius:5px;
}

button{
padding:10px 20px;
background:gold;
border:none;
border-radius:20px;
cursor:pointer;
font-weight:bold;
}

/* NAVBAR */
.navbar{
background:black;
padding:15px;
display:flex;
justify-content:space-between;
}

/* TABLE */
table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

th,td{
border:1px solid gray;
padding:10px;
text-align:center;
}

.container{
padding:40px;
}